# but we don't want it installed there since it's already
strict-peer-dependencies=false

# Prevent pnpm from adding the "workspace:"" prefix to local
# packages as it causes issues with manypkg
# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=3A6B12F0-2A35-48C8-825C-6481D13BF667

